{% extends 'base.html' %}
{% block content %}

<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">About Us...</h1>
            <p class="lead fw-normal text-white-50 mb-0">Welcome to my ecommerce store project!</p>
        </div>
    </div>
</header>

<div class="container px-4 px-lg-5 mt-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <center>
            <div class="col-lg-8">
                <p>Lorem ipsum is a standard placeholder text used in graphic design, publishing, and web development to demonstrate layouts and typography without the distraction of meaningful content.
                It is derived from a corrupted version of "De finibus bonorum et malorum," a 1st-century BC treatise by the Roman philosopher Cicero.
                The text's name comes from the first two words, "Lorem ipsum," which are a truncation of "dolorem ipsum" ("pain itself").
                <br/><br/>
                The most common form of lorem ipsum reads: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum".
                <br/><br/>
                While the text appears to be Latin, it is nonsensical and has been altered over centuries, with words removed, added, or modified to create a realistic-looking flow of text that does not convey meaning.
                The original Latin passage, from sections 1.10.32 and 1.10.33 of Cicero's work, discusses the philosophy of pleasure and pain.
                The English translation of the relevant passage is: "But I must explain to you how all this mistaken idea of reprobating pleasure and extolling pain arose. To do so, I will give you a complete account of the system and expound the teachings of the great explorer of the truth, the master-builder of human happiness".
                </p>

            </div>
        </center>
    </div>
</div>

{% endblock %}